.logo {
    width: 170px;
}

.git {
    font-size: 40px;
    color: #1fcbe1;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 70vw;
}

.banner h1 {
    font-size: 3em;
}

.call {
    height: 50vh;
    background: linear-gradient(90deg, #1ee195, #1fcbe1);
    color: white;
    font-family: 'DM Mono', monospace;
}

.grupo-botao {
    display: flex;
    justify-content: flex-start;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    width: 165px;
    height: 45px;
    font-size: 1.1em;
    font-weight: 500;
}

[iniciar] {
    background-color: white;
    border: solid 2px white;
    color: #1ee195;
    margin-right: 30px;
}

[iniciar]:hover {
    background-color: #1fcbe1;
    border: solid 2px white;
    color: white;
}

[saibamais] {
    background-color: transparent;
    border: solid 2px white;
    color: white;
}

[saibamais]:hover {
    background-color: #1fcbe1;
    border: solid 2px white;
    color: white;
}

.features {
    height: auto;
    width: 100%;
    padding: 50px 20% 0 20%;
    box-sizing: border-box;
}

.features h1 {
    color: #53dfa9;
}

.features-container {
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.features-container section {
    width: 290px;
    height: 250px;
    flex-direction: column;
    display: flex;
    text-align: center;
}

.features-container p {
    padding-right: 5px;
}

.features-container .section h3 {
    color: #1ee195;
}

.features-container .section h3 i {
    margin-right: 5px;
    color: #1ee195;
}

.rodape {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1ee195;
}

.rodape a {
    color: white
}

.heart {
    color: rgb(255, 217, 217);
}

@media (min-width:641px) and (max-width: 800px) {
    .botao {
        width: 35%;
    }
    .banner h1 {
        font-size: 2.5em;
    }
    .banner h4 {
        font-size: 1.5em;
    }
}

@media (max-width: 640px) {
    .call {
        height: 60vh;
    }
    .banner h1 {
        font-size: 2em;
    }
    .banner h4 {
        font-size: 1em;
    }
    .botao {
        width: 110px;
        height: 35px;
        font-size: 0.7em;
        font-weight: 500;
    }
    [iniciar] {
        margin-right: 10px;
    }
    .features h1 {
        font-size: 2em;
    }
}